.root {
  --rdg-color: var(--mantine-color-text);
  --rdg-background-color: var(--mantine-color-body);
  --rdg-header-background-color: var(--mantine-color-default-hover);
  --rdg-row-hover-background-color: var(--mantine-primary-color-light);
  --rdg-selection-color: var(--mantine-primary-color-filled);
  --rdg-border-color: var(--mantine-color-default-border);
  --rdg-font-size: var(--mantine-font-size-sm);
  --rdg-cell-padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
}

.compact {
  composes: root;
  --rdg-row-height: 34px;
  --rdg-cell-padding: 2px var(--mantine-spacing-xs);
}

.normal {
  composes: root;
  --rdg-row-height: 42px;
  --rdg-cell-padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
}

.root [role='gridcell']:focus-visible,
.root [role='columnheader']:focus-visible,
.root [role='gridcell']:focus-within {
  outline: 3px solid var(--mantine-primary-color-filled);
  outline-offset: -3px;
}
